# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.swp

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

# VS project files

*.vcxproj.*
*.sdf
*.sln
*.suo

Debug
Release
GeneratedFiles
ipch
Win32

# Ctag files
tags
